<style>
.container {
  justify-content: center;
  width: 800px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: center;
  width: 800px;
  background-color: #6E3678;
}

.logo {
  margin: 57.5px auto 57.5px 48px;
}

.logoText {
  font-family: Raleway;
  font-size: 76px;
  font-weight: 800;
  line-height: 89px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #FFFFFF;
}
.body {
  display: flex;
  width: 800px;
}
</style>
<div>
  <div class = "container">
    <div class = "header">
      <div class= "logo">
        <img src="">
        <div class ="logoText" >Taxi</div>
      </div>
    </div>
    <div class = "title"></div>
    <div class = "content">
      미정산 내역 관리 안내
    </div>
    <div class = "footer"></div>
  </div>
</div>
